body {
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
  font-family: "Roboto", sans-serif;
}

#sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.general {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  width: fit-content;
}



.text-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin: 40px;
}
.join {
  margin-bottom: 10px;
}

.pros {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pros div {
  display: flex;
  justify-content: center;
  width: 93%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pros img {
  margin-right: 5px;
}

.pros p {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
}

.head,
.join,
.btn-div {
  width: 90%;
  margin-top: 10px;
}

.head {
  font-size: 3.5rem;
  text-align: left;
  margin-bottom: 20px;
}

.email-input {
  width: 90%;
  margin-top: 15px;
}

.over-email {
  display: flex;
  justify-content: space-between;
}

.email-input label {
  display: inline;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 5px;
}

.email-error {
  display: inline;
  margin-top: 16px;
  margin-bottom: 5px;
  color: hsl(4, 100%, 67%);
}

.email-input input {
  width: 95%;
  padding: 5% 2%;
  border: 1px grey solid;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
}

.error-state {
  background-color: hsla(4, 100%, 67%, 0.349);
  /* color:hsl(4, 100%, 67%); */
}



#after {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 5% 20px 20px 20px;
  padding: 20px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  width: 400px;
} 



.success span {
  font-weight: 700;
}



.hidden {
  display: none !important;
}

.mobile-image {
  display: none;
}

.btn-div {
  text-align: center;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: hsl(234, 29%, 20%);
  padding: 20px 36px 20px 36px;
  text-decoration: none;
  border: none;
  width: 100%;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn:hover {
  background: #f04646;
  background-image: -webkit-linear-gradient(left, #f04646, #ff8400);
  background-image: -moz-linear-gradient(left, #f04646, #ff8400);
  background-image: -ms-linear-gradient(left, #f04646, #ff8400);
  background-image: -o-linear-gradient(left, #f04646, #ff8400);
  background-image: linear-gradient(to right, #f04646, #ff8400);
  text-decoration: none;
}

.attribution {
  text-align: center;
  color: #ffffff;
}

@media (max-width: 992px) {
  .general {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 0;
    width: 100%;
  }
  .text-part {
    order: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .image {
    order: -1;
    width: 100%;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .general {
    margin: 0;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: inline-block;
    width: 100%;
  }

  .head {
    font-size: 3rem;
  }

  #after {
    height: 100vh;
  }

  .success {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 0;
    border-radius: 0;
    justify-content: space-between;
  }

  .btn-less {
    margin-top: 30%;
  }


  .attribution {
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    font-size: 15px;
  }
}
